[submodule "vendor/requests"]
	path = vendor/requests
	url = https://github.com/kennethreitz/requests
[submodule "vendor/boto"]
	path = vendor/boto
	url = https://github.com/boto/boto.git
[submodule "patches/common/chromium_power"]
	path = patches/common/chromium_power
	url = https://github.com/leo-lb/chromium_power.git
	branch = electron-6-1-x
